:root {
    --dark: rgb(67, 63, 203);

}

* {
    font-family: Roboto, sans-serif;
}

.custom-jumbotron {
    background-color: var(--dark);
    color: white;
}

@media (min-width: 1400px) {
    .col-xxl-fifth {
        flex: 0 0 auto;
        width: 20%;
    }
}

.card {
    background-color: var(--dark);
    color: white;
}

.results {
    display: none;
}

.today-card {
    background-color: #eee;
}

#today-icon {
    background-color: white;
}

